{
    "formatVersion" : "1.0.0",
    "configuration" : {
        "configVersion" : "2013093000",
        "cache" : 86400,
        "maxBulkEvents" : 20,
        "activeEvents" : {
            "view" : [ "appeared" , "refreshed" , "disappeared" ], 
            "advertisement" : [ "open" , "close" ],
            "data" : [ "cancelled" , "refresh" , "succeeded" , "failed" ],
            "document" : [ "open" , "edit" , "close" ],
            "download" : [ "cancelled" , "start" , "succeeded" , "failed" ],
            "game" : [ "action" , "started" , "finished" , "won" , "lost" , "newhighscore" , "newachievement" , "highscore" , "achievement" ],
            "hardwareButton" : [ "pushed" ],
            "iap" : [ "started" , "finished" , "cancelled" ],
            "login" : [ "succeeded" , "failed" , "logout" ],
            "audio" : [ "play" , "pause" , "stop" , "next" , "previous" , "replay" , "seekBack" , "seekForward" ],
            "video" : [ "play" , "pause" , "stop" , "next" , "previous" , "replay" , "seekBack" , "seekForward" ],
            "push" : [ "received" ],
            "upload" : [ "cancelled" , "start" , "succeeded" , "failed" ],
            "application" : [ "start" , "enterBackground" , "enterForeground" , "resignActive" , "becomeActive" , "terminate" , "crashed" ],
            "openApp" : [ "maps" , "other" ],
            "internetConnection" : [ "established" , "lost" , "switchedInterface" ],
            "webView" : [ "init" ],
            "deviceOrientation" : [ "changed" ],
            "gesture" : [ "shake" ]
        }
    }
}
